{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico&display=swap">
        <h2 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);font-family: 'Pacifico', cursive;"><b>Developed By</b></h2>
    </div>
</div>

<div class="row p-3">
    <div class="col-lg-4 mb-4">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Mamilla Rithika</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Rithika. Currently pursuing my Bachelors in
                    Computer Science at Geethanjali College of Engineering and Technology.</p>
            </center>
            <div>
		<br>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:21r11a05d0@gcet.edu.in'><img
                        src="{{ url_for('static', filename='images/gmail.png') }}" height="40" width="40"></a> :
                21r11a05d0@gcet.edu.in<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/rithikamamilla'><img
                        src="{{ url_for('static', filename='images/linkedin.png') }}" height="40" width="40"></a> : Rithika Mamilla<br>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Manda Anjani</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Anjani. Currently pursuing my Bachelors in
                    Computer Science at Geethanjali College of Engineering and Technology.</p>
            </center>
            <div>
		<br>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:21r11a05d1@gcet.edu.in'><img
                        src="{{ url_for('static', filename='images/gmail.png') }}" height="40" width="40"></a> :
                21r11a05d1@gcet.edu.in<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/anjanimanda'><img
                        src="{{ url_for('static', filename='images/linkedin.png') }}" height="40" width="40"></a> : Anjani Manda<br>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Berelli Preetham Rao</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Preetham. Currently pursuing my Bachelors in
                    Computer Science at Geethanjali College of Engineering and Technology.</p>
            </center>
            <div>
		<br>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:21r11a05b1@gcet.edu.in'><img
                        src="{{ url_for('static', filename='images/gmail.png') }}" height="40" width="40"></a> :
                21r11a05b1@gcet.edu.in<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/preethamrao'><img
                        src="{{ url_for('static', filename='images/linkedin.png') }}" height="40" width="40"></a> : Preetham Rao<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}